body {
    padding: 32px;
  }
  .margin-auto {
    margin: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .d-flex {
    display: flex;
  }
  
  .align-center {
    align-items: center;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mt-6 {
    margin-top: 32px;
  }
  
  .mb-6 {
    margin-bottom: 32px;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 0 0;
    border: 1px solid black;
    width: 100%;
  }
  
  table thead td {
    padding: 5px 5px;
    border: 1px solid rgb(55, 45, 45);
  }
  
  table tbody td {
    border: 1px solid rgb(178 174 174);
    padding: 5px 5px;
  }
  